# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env & tools
.venv/
.env
.env.*
.coverage
.pytest_cache/

# OS/editor
.DS_Store
.vscode/
.idea/

# Instance/data & logs
instance/
*.sqlite3
app.db
*.log
